@import url("./normalize.css");
@import url("./reset.css");
@import url("./fontello.css");

*, *::before, *::after {
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

body {
  color: #212121;
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 900;
}


/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {  
  width: 940px;  
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: lightcoral;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* 겹침 Cascading */
/* 우선순위 규칙 */
/* li (Type Selector) - 1점 */
/* .first (Class Selector) - 10점 */
/* #item (ID Selector) - 100점 */

/* .member -> 10점, li -> 1점, ::before -> 1점  => 12점  */
/* .member li::before {
  content: ":";
} */
/* .member -> 10점, .first -> 10점, ::before -> 1점  => 21점  */
/* .member .first::before {
  content: "첫번째 자식요소를 생성합니다.";
} */
/* .member li:first-child::before {
  content: "";
} */

/* .member li:nth-child(n + 2)::before {
  content: ":";
  background-color: skyblue;
} */

.member a {
  text-transform: uppercase;
}

/* 비주얼 */
.visual {
  background: lightgoldenrodyellow;
  height: 10vh;
}
/* 메인 */
.main {
  background: lightcoral;
  min-height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.group1 {
  background-color: tomato;
  width: 250px;
}
.group2 {
  background-color: teal;
  width: 380px;
}
.group3 {
  background-color: thistle;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: lightgreen;
  height: 10vh;
  clear: both;
}
/* 풋터 */
.footer {
  background: lightseagreen;
  width: 940px;
}

.footer-inner {
  background: lightslategray;
  height: 15vh;
}

