@import url("./normalize.css");
@import url("./reset.css");

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: skyblue;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 900;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {  
  width: 940px;  
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: lightsalmon;
  padding: 0 30px;
  height: 15vh;
}
/* 비주얼 */
.visual {
  background: lightgoldenrodyellow;
  height: 10vh;
}
/* 메인 */
.main {
  background: lightcoral;
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.group1 {
  background-color: tomato;
  width: 250px;
}
.group2 {
  background-color: teal;
  width: 380px;
}
.group3 {
  background-color: thistle;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: lightgreen;
  height: 10vh;
  clear: both;
}
/* 풋터 */
.footer {
  background: lightseagreen;
}

.footer-inner {
  background: lightslategray;
  height: 15vh;
}

