@import url("./fonts.css");
@import url("./normalize.css");
@import url("./reset.css");


/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position:absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path:polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */

body {
  /* em, rem 단위를 사용해보기 */
  color: #212121;
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: url("./images/bg_flower.png") no-repeat 50% 0, #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%); 
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {  
  width: 940px;  
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /* position 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  /* position: relative; 
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  transform: translateX(10px);
}

.member li {
  display: inline-block;
}

.member a{
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;  
}
/* 마지막 li요소에 포함된 a요소를 선택하여 오른쪽 padding값을 0으로 재정의 하는 방법 */

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}
.menu {
  border-top: 2px solid #212121;
  background: #e85e2c linear-gradient(to bottom, #ef9126 0%, #e85e2c 35%, #e85e2c 70%, #ef9126 100%);
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n+3) {
  position: relative;
}

.menu-item {
  position: relative;
  float: left;  
  border-left: 2px solid #fff;  
}

/* 구체성 -> 10점 */
.menu-button {
  border: 0;  
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 -> 20점 */
.is-active .menu-button {
  color: #ff0;
}

/* 
미션 : is-active 버튼에 밑줄을 넣어라! 
팁 : .menu-button 에 바로 border-bottom을 지정하면
버튼 전체에 구분선이 보여지기 때문에
::before와 ::after 같은 가상 요소 선택자를 이용하면
해당 문제를 해결할 수 있습니다. ^^
*/

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #212121;
}
/* 
line-height를 줬기 때문에 딱 밑에 선이 붙는 것!
button에
padding 처리를 했다면 불편했을 것

어떻게 길이도 딱 떨어지느냐?
html에대해, 가상요소는 형제관계.
그들의 부모에게 패딩을 주었기 때문이다.

가상요소를 생성하면 inline으로 생성되기 때문에 이를 block으로 만들어 준 것. 

*/

.sub-menu {
  position: absolute;
  top: 47px;
  display: none;
  padding: 4px 0;
}

.menu-html, .menu-css, .menu-standards {
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
  padding: left 1em;
}

.sub-menu a::before {
  content: "\f192";
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before, .sub-menu a:focus::before {
  content: "\e800";
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a:hover, .sub-menu a:focus {
  color: #f00;
}

/* 비주얼 */
/* at sigh rule => @, ~적용할거야 라고 선언하는 것 */

@keyframes moveEffect {
  0% {
    font-size: 12px;
    /* color: rgba(0, 0, 0, 0.2); */
    color: hsla(0 0% 0% 0);
    transform: translate(0,0);
  } 
  100% {
    font-size: 24px;
    /* color: rgba(0, 0, 0, 1); */
    color: hsla(0 0% 0% 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before, .visual::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* animation-name: fadeEffect;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before {
  background: url("./images/ani_flower_01.png") no-repeat 0 -10px, url("./images/ani_flower_02.png") no-repeat 600px 0;
}

.visual::after {
  background: url("./images/ani_flower_03.png") no-repeat 35% 0px, url("./images/ani_flower_04.png") no-repeat 800px 0;
  animation-delay: 1000ms;
}

.visual-text {
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* animation-name: moveEffect;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; */
  /* display: inline-block; */
  animation: moveEffect 1000ms ease-in-out forwards;
  position:absolute;
  z-index: 1;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}

.login {
  box-shadow: 5px 5px 0 0 #aaa;
  background: orange radial-gradient(circle at right top, orange, orangered);
  padding: 10px;
  border-radius: 5px;
}

.login-title {
  color: #ff0;
  font-size: 15px;
  font-weight: 700;
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0px 10px;
}

.login fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.user-email, .user-pw {
  margin-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
}

.login button {
  position: absolute;
  top: 0;
  right: 0;
  height: 53px;
  background-color: orangered;
  color: #fff;
  border: 0;
  padding: 0 8px;
  border-radius: 3px;
  font-size: 13px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a {
  display: block;
  padding: 6px 0;
  letter-spacing: -1px;
  /* letter-spacing은 자간 설정 */
}

.sign a::before {
  content: "\e803";
  font-family: 'fontello';
  margin-right: 3px;
  color: orangered;
}

/* .login-form fieldset {
  position: relative;
  padding: 5px 0;
}

.user-email label, .user-pw label {
  display: inline-block;
  width: 55px;
  margin-bottom: 10px;
}

.user-email input, .user-pw input {
  width: 90px;
}

.login-form::after {
  content: "";
  display: block;
  border-bottom: 1px solid #000;
}

.login-button {
  background-color: orangered;
  color: #fff;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
} */

.group2 {
  background-color: teal;
  width: 380px;
}
.group3 {
  background-color: thistle;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: lightgreen;
  height: 10vh;
  clear: both;
}
/* 풋터 */
.footer {
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}

.footer-inner {
  background: lightslategray;
  height: 15vh;
}

