@import url("./normalize.css");
@import url("./reset.css");

body {
  background-color: skyblue;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 900;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {  
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: lightsalmon;
  padding: 0 30px;
  height: 15vh;
}
/* 비주얼 */
.visual {
  background-color: lightgoldenrodyellow;
  height: 10vh;
}
/* 메인 */
.main {
  background-color: lightcoral;
  height: 50vh;
}
/* 슬로건 */
.slogan {
  background-color: lightgreen;
  height: 10vh;
}
/* 풋터 */
.footer {
  background-color: lightseagreen;
}

.footer-inner {
  background-color: lightslategray;
  height: 15vh;
}

